@font-face {
	font-family: "GalanoGrotesqueW00-Bold";
	src: url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.eot");
	src: local("☺︎"), local("Galano Grotesque W00 Bold"), local("GalanoGrotesqueW00-Bold"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.eot?#iefix") format("embedded-opentype"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.woff2") format("woff2"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.woff") format("woff"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.ttf") format("truetype"), url("https://static2.pickjb.com/assets/fonts/GalanoGrotesqueW00-Bold.svg#GalanoGrotesqueW00-Bold") format("svg");
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

a {
	position: relative;
	display: block;
	background: none;
	color: #000;
	text-decoration: none;
	min-height: 320px;
	overflow: hidden;
}

.logo {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	display: block;
	width: 6vmax;
	min-width: 56px;
	padding: 2em;
}

.waves {
	position: absolute;
	top: -190px;
	left: 0;
	display: block;
	min-width: 100%;
	min-height: 70%;
	margin: auto 0;
}

img, svg {
	pointer-events: none;
}

h1 {
	position: relative;
	top: 47%;
	color: #000;
	display: block;
	font-family: "GalanoGrotesqueW00-Bold",
		"MarkPro-Heavy",
		"Pangram-ExtraBold",
		"SFUIDisplay-Heavy",
		"ProximaNova-Extrabld",
		"AvenirNext-Bold",
		"Wavehaus-158ExtraBold",
		"Sailec-Bold",
		"Europa-Bold",
		"Roboto-Black",
		"Affogato-Bold",
		Arial,
		sans-serif;
	font-size: 12vmax;
	font-weight: 800;
	line-height: 1.2;
	text-align: center;
	margin: 0;
	padding: 0 .2em;
	transform: translateY(-53%);
	font-display: swap;
}
